﻿@model IEnumerable<ExpenseManager3000.Models.Rendimento>

@{
    ViewBag.Title = "Rendimentos";
}

<h2>Rendimentos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>

<p>
    @using (Html.BeginForm())
    {
    <p>

        Data de Início: <input type="date" name="inicio" id="inicio" />
        Data de Fim: <input type="date" name="fim" id="fim" />
        <input type="submit" value="Filtrar" />
    </p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposRendimento.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposRendimento.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.RendimentoId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.RendimentoId })
        </td>
    </tr>
}

</table>
