﻿@model IEnumerable<ExpenseManager3000.Models.Despesa>

@{
    ViewBag.Title = "Despesas";
}

<h2>Despesas</h2>

<p>
    @Html.ActionLink("Adicionar Despesa", "Create")
</p>

    @using (Html.BeginForm())
    {
    <p>

        Data de Início: <input type="date" name="inicio" id="inicio" />
        Data de Fim: <input type="date" name="fim" id="fim" />
        <input type="submit" value="Filtrar" />
    </p>
    }

    @using (Html.BeginForm())
    {
        <p>
            Mês: <input type="month" name="mes" id="mes" />
            <input type="submit" value="Filtar" />
        </p>
    }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposDespesa.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeiosPagamento.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposDespesa.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeiosPagamento.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.DespesaId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.DespesaId })
        </td>
    </tr>
}

</table>
