﻿@model IEnumerable<ExpenseManager3000.Models.TipoDespesa>

@{
    ViewBag.Title = "Tipos de Despesa";
}

<h2>Tipos de Despesa</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.TipoDespesaId }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.TipoDespesaId })
        </td>
    </tr>
}

</table>
