﻿@model ExpenseManager3000.Models.IndexViewModel
@{
    ViewBag.Title = "Configurar Conta";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Altere as suas definições</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Palavra-Passe:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Altere a sua Palavra-Passe", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
