﻿@{
    ViewBag.Title = "Expense Manager 3000";
}

<div class="jumbotron">
    <h1>Expense Manager 3000</h1>
    <p class="lead">Aplicação de Gestão de Despesas e Rendimentos.</p>
    <p>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1º Criar Tipos de Despesa e Meios de Pagamento:</h2>
        <p>
            O utilizador deve em primeiro lugar criar os seus tipos de despesa e meios de pagamento desejados.
        </p>
    </div>
    <div class="col-md-4">
        <h2>2º Adicionar Despesas e Rendimentos:</h2>
        <p>
            Assim que existirem Tipos de Despesa e Meios de Pagamento o utilizador pode adicionar Despesas e ou Rendimentos.
            No final de cada tabela é apresentado o total dos valores introduzidos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>3º Consulta</h2>
        <p>
            É possivel consultar o Saldo atual (ver menu) e fazer uma consulta de Despesas ou Rendimentos num período de tempo à escolha do utilizador.
        </p>
    </div>
</div>